body {
    background-image: url("http://i.imgur.com/PLR2KfJ.jpg")!important;
}
.dark body {
    background-image: url("http://i.imgur.com/dfZPe0j.jpg")!important;
}
.ps-room.ps-room-light {
    background-color: rgba(152, 251, 152, 0.4);
    border-color: #000;
}
.ps-room.ps-room-light.scrollable {
    background-color: rgba(173, 216, 230, 0.3);
}
.pad .button,
.ps-room.ps-room-light.scrollable p .button {
    background: #90EE90;
    border-color: #000;
    color: #000;
}
.pad .button:hover,
.ps-room.ps-room-light.scrollable p .button:hover {
    background: #7CFC00;
    border-color: #000;
}
.ps-room.ps-room-light .roomlist,
.roomlisttop {
    width: 100%;
    max-width: 100% !important;
}
.ps-room.ps-room-light .roomlist {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 5px 15px;
}
.roomlist a.ilink {
    background: #90EE90;
    border-color: #000;
    padding: 10px;
    color: #000;
}
.roomlist a.ilink:hover {
    background: rgb(135, 206, 250) url("https://i.gyazo.com/9e26dd4f95c00a37b02888dd47675c76.png") right no-repeat;
    border-color: #fff;
    color: #000;
}
.roomlist a.ilink small {
    color: #000000;
}
.roomcounters .picon {
    background: url("http://stats.pokemon-online.eu/poke_icons/640.png") bottom no-repeat !important;
}
.roomcounters button {
    background: rgba(179, 217, 255, 0.6) !important;
    border: 1px outset #000 !important;
    color: #000 !important;
}
.roomcounters button:hover {
    background: #87CEEB !important;
    border-color: #000 !important;
}
.textbox,
.textbox:hover,
.textbox:focus {
    background: #F8FBFD;
    border-color: #000;
    color: black;
}
.broadcast-blue {
    background-color: #B3E6FF;
    border: 1px solid #0B1361;
    color: #0B1361;
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
    margin: 5px;
}
.broadcast-blue a {
    color: #0B1361;
}
.broadcast-red {
    background-color: #FFB3B3;
    border: 1px solid #610B0B;
    color: #610B0B;
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
    margin: 5px;
}
.broadcast-red a {
    color: #610B0B;
}
.broadcast-green {
    background-color: #C3FFB3;
    border: 1px solid #19610B;
    color: #19610B;
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
    margin: 5px;
}
.broadcast-green a {
    color: #19610B;
}
.message-announce {
    background: #87CEEB;
    font-style: italic;
    color: black;
}
.header {
    background: url("http://i.imgur.com/PBEGQKC.png?1") no-repeat;
}
.header .logo {
    opacity: 0;
}
.maintabbarbottom {
    background: #2CB82C;
    border-color: #000000;
}
.tabbar a.button.notifying {
    background: #2E8B57;
    border-color: #000000;
    color: #FFFFFF;
    text-shadow: 0px 0px 2px #000;
}
.tabbar a.button.notifying:hover {
    background: #2E8B57;
    border-color: #000000;
}
.tabbar a.button.subtle-notifying {
    background: #31CD31;
    color: #B22222;
    text-shadow: none;
}
.tabbar a.button.cur,
.tabbar a.button.cur:hover {
    background: #2CB82C;
    border-color: #000000;
    color: #000000;
    text-shadow: none;
}
.tabbar a.cur + .closebutton {
    color: #000000;
}
.tabbar a.button,
.userbar button.icon {
    background: #31CD31;
    border-color: #000000;
    color: #000000;
    text-shadow: none;
}
.tabbar .closebutton {
    color: #000000;
}
.tabbar .closebutton:hover,
.tabbar a.cur + .closebutton:hover {
    color: #000;
}
.tabbar a.button:hover,
.userbar button.icon:hover {
    background: #2CB82C;
    border-color: #000000;
}
.userbar .username {
    color: black;
    text-shadow: 1px 1px #F0F8FF, 1px -1px #F0F8FF, -1px 1px #F0F8FF, -1px -1px #F0F8FF;
}
.chat-log {
    background: rgba(240, 248, 255, 0.6) url("") top right no-repeat;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #000;
    color: black;
}
.chat small {
    color: #000;
}
.infobox {
    background: transparent;
    border-color: #000;
    border-style: outset;
    padding: 8px;
}
.infobox code {
    color: #000000;
}
.message small {
    color: #000 !important;
}
.message .utilichart .result {
    border: 1px outset #000;
    background: rgba(135, 206, 250, 0.5);
}
.chat-log a.ilink {
    color: #000000;
}
.chat-log a.ilink:hover {
    color: #000000;
}
.infobox a.ilink {
    color: red;
}
.infobox a.ilink:hover {
    color: #000000;
}
.chat.mine {
    background: transparent;
}
.message-pm {
    color: #000;
}
.chat-log-add {
    background: rgba(144, 238, 144, 0.4);
    border-color: rgba(241, 231, 194, 0);
}
.chat-log-add .chatbox label {
    text-shadow: 0px 0px 2px #000;
}
.userlist {
    background: rgba(144, 238, 144, 0.4);
    border-color: rgba(241, 231, 194, 0);
}
.userlist li {
    border-color: #000;
}
.userlist li span,
.userlist li strong {
    text-shadow: none;
}
.userlist li button:hover {
    background: rgba(255, 255, 255, 0.5);
}
.userlist-count {
    color: #000;
}
.userlist li em.group {
    color: #000;
}
.menugroup {
    background: rgba(135, 206, 250, 0.4);
    border: 1px outset #000;
    color: black;
}
.menugroup button,
.select,
.menugroup .button.mainmenu2,
.menugroup .button.mainmenu4 {
    background: #90EE90;
    padding: 3px 8px;
    border: 1px outset #000;
    color: #000;
}
.menugroup button:hover,
.select:hover,
.menugroup .button.mainmenu2:hover,
.menugroup .button.mainmenu4:hover {
    background: #81d681;
    border-color: #000;
}
.menugroup a.ilink {
    font-weight: bold;
    font-style: italic;
}
.menugroup a.ilink:hover {
    background: #ADD8E6;
}
.select:disabled,
.select:disabled:hover {
    background: #87CEEB;
    border: 1px solid #000;
}
.teamselect:disabled strong {
    color: #000;
}
.menugroup .button.mainmenu1,
.menugroup .button.mainmenu3,
.menugroup .button.mainmenu5 {
    background: #90EE90;
    border-color: #000;
    color: #000;
}
.menugroup .button.mainmenu1:hover,
.menugroup .button.mainmenu3:hover,
.menugroup .button.mainmenu5:hover {
    background: #81d681;
    border-color: #000;
}
.pm-window h3 {
    background: #87CEEB;
    border: 1px outset #000;
    color: #000;
}
.pm-window .closebutton,
.pm-window .minimizebutton {
    color: #000;
}
.pm-window h3 small {
    color: #000;
}
.pm-window h3:hover {
    background: #ADD8E6;
    border: 1px outset #000000;
    color: #000;
}
.pm-window .closebutton:hover,
.pm-window .minimizebutton:hover,
.pm-window h3:hover .minimizebutton {
    color: #000;
}
.pm-window .closebutton:hover + .minimizebutton {
    color: #000 !important;
}
.pm-window.focused h3,
.pm-window.focused h3:hover {
    background: #87CEEB;
    border: 1px outset #000;
    color: #000;
}
.pm-log,
.pm-window.focused .pm-log {
    background: rgba(240, 248, 255, 0.8);
    border-color: #000;
    color: black;
}
.unread {
    background: none;
}
.challenge {
    background: rgba(135, 206, 250, 0.4);
    border: 1px outset #000;
    color: #000;
}
.challenge .buttonbar button {
    background: #90EE90;
    padding: 3px 8px;
    border: 1px outset #000;
    color: #000;
}
.challenge .buttonbar button:hover {
    background: #32CD32;
    border-color: #000;
}
.pm-log-add,
.pm-window.focused .pm-log-add {
    background: #87CEEB;
    border: 1px outset #000;
    color: #000;
}
.pm-log-add .textbox {
    border-color: #000;
}
.mainmenufooter {
    background: rgba(135, 206, 235, 0.4);
    border: 1px outset #000;
    padding: 5px;
    color: #fff;
}
.mainmenufooter a {
    color: #90EE90;
}
.mainmenufooter a:hover {
    color: #87CEEB;
}
.ps-popup {
    background: rgba(135, 206, 235, 0.9);
    border: 1px solid #000;
    color: #000;
}
.ps-popup .buttonbar button {
    background: #90EE90;
    padding: 3px 8px;
    border: 1px solid #000;
    color: #000;
}
.ps-popup .buttonbar button:hover {
    background: rgba(50, 205, 50, 0.7);
    border-color: #000;
}
.ps-popup a,
.ps-popup a.ilink,
.popupmenu h3 {
    color: #000;
}
.ps-popup a:hover,
.ps-popup a.ilink:hover {
    color: #000;
}
.ps-popup a.ilink.yours {
    color: #000;
}
.popupmenu button.sel {
    border-color: #000;
}
.popupmenu button.sel:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #000;
}
.popupmenu button:hover {
    background: rgba(255, 255, 255, 0.4);
    border-color: #000;
}
.setchart-nickname {
    background: #87CEFA;
    border-color: #000;
}
.folderpane h3 {
    background: #87CEEB;
    color: #000;
}
.folder .selectFolder {
    background: #ADD8E6;
    color: #000;
}
.folder .selectFolder:hover {
    background: #87CEEB;
}
.teamlist .team {
    background: #87CEFA;
    padding: 3px 8px;
    border: 1px solid #000;
    color: #49614B;
}
.teamlist .team small {
    text-shadow: none;
}
.teamlist .team:hover {
    background: #ADD8E6;
    border-color: #000;
}
.button.big,
.format-select .button {
    background: #98FB98;
    border-color: #000;
    color: #000;
}
.button.big:hover,
.format-select .button:hover {
    background: #90EE90;
    border-color: #000;
}
.setchart {
    background: rgba(135, 206, 250, 0.6);
    border-color: #000;
}
.teambar button {
    background: #ADD8E6;
    border: none;
    color: #000;
}
.teambar button:hover {
    background: #87CEEB;
}
.ps-room.ps-room-opaque .battle .backdrop {
    background: transparent url("http://i.imgur.com/jfUF1vS.png") no-repeat scroll right top !important;
    opacity: 0.6;
    width: 140%;
    max-width: 200% !important;
    height: 200%;
    max-height: 200% !important;
}
.ps-room.ps-room-opaque {
    background: rgba(135, 206, 250, 0.4);
}
.ps-room .battle-controls {
    background: rgba(135, 206, 235, 0.1);
}
.movemenu button.type-Normal {
    background: #C7AFB5 url("http://i.imgur.com/3C1Bacx.png?2") center no-repeat !important;
    border-color: #75525C !important;
}
.movemenu button.type-Normal small {
    color: #75525C;
}
.movemenu button.type-Normal:hover {
    background: #DFCDD2 url("http://i.imgur.com/3C1Bacx.png?2") center no-repeat !important;
}
.movemenu button.type-Fire {
    background: #FD4B5A url("http://i.imgur.com/4sLBBTN.png?2") center no-repeat !important;
    border-color: #AB1F24 !important;
}
.movemenu button.type-Fire small {
    color: #AB1F24;
}
.movemenu button.type-Fire:hover {
    background: #FF767F url("http://i.imgur.com/4sLBBTN.png?2") center no-repeat !important;
}
.movemenu button.type-Water {
    background: #85A8FB url("http://i.imgur.com/K7r8LVH.png?2") center no-repeat !important;
    border-color: #1552E1 !important;
}
.movemenu button.type-Water small {
    color: #1552E1;
}
.movemenu button.type-Water:hover {
    background: #A9C3FF url("http://i.imgur.com/K7r8LVH.png?2") center no-repeat !important;
}
.movemenu button.type-Grass {
    background: #42C665 url("http://i.imgur.com/628FI5x.png?2") center no-repeat !important;
    border-color: #147B3D !important;
}
.movemenu button.type-Grass small {
    color: #147B3D;
}
.movemenu button.type-Grass:hover {
    background: #56D879 url("http://i.imgur.com/628FI5x.png?2") center no-repeat !important;
}
.movemenu button.type-Electric {
    background: #FAFA72 url("http://i.imgur.com/bzW9xyl.png?2") center no-repeat !important;
    border-color: #C6C61D !important;
}
.movemenu button.type-Electric small {
    color: #C6C61D;
}
.movemenu button.type-Electric:hover {
    background: #FFFF9B url("http://i.imgur.com/bzW9xyl.png?2") center no-repeat !important;
}
.movemenu button.type-Ice {
    background: #D8F0FA url("http://i.imgur.com/otB37l2.png?2") center no-repeat !important;
    border-color: #7CC6EB !important;
}
.movemenu button.type-Ice small {
    color: #7CC6EB;
}
.movemenu button.type-Ice:hover {
    background: #E6F8FF url("http://i.imgur.com/otB37l2.png?2") center no-repeat !important;
}
.movemenu button.type-Ground {
    background: #A8702D url("http://i.imgur.com/F2Ngn3T.png?2") center no-repeat !important;
    border-color: #6E491F !important;
}
.movemenu button.type-Ground small {
    color: #6E491F;
}
.movemenu button.type-Ground:hover {
    background: #BA843C url("http://i.imgur.com/F2Ngn3T.png?2") center no-repeat !important;
}
.movemenu button.type-Flying {
    background: #94B2C7 url("http://i.imgur.com/Al6Gb8u.png?2") center no-repeat !important;
    border-color: #4A677D !important;
}
.movemenu button.type-Flying small {
    color: #4A677D;
}
.movemenu button.type-Flying:hover {
    background: #A4C0D5 url("http://i.imgur.com/Al6Gb8u.png?2") center no-repeat !important;
}
.movemenu button.type-Poison {
    background: #9B69DA url("http://i.imgur.com/d3QQ9Af.png?2") center no-repeat !important;
    border-color: #5E2D89 !important;
}
.movemenu button.type-Poison small {
    color: #5E2D89;
}
.movemenu button.type-Poison:hover {
    background: #BF8EF6 url("http://i.imgur.com/d3QQ9Af.png?2") center no-repeat !important;
}
.movemenu button.type-Fighting {
    background: #EF6239 url("http://i.imgur.com/0fjqBIB.png?2") center no-repeat !important;
    border-color: #994025 !important;
}
.movemenu button.type-Fighting small {
    color: #994025;
}
.movemenu button.type-Fighting:hover {
    background: #FA7851 url("http://i.imgur.com/0fjqBIB.png?2") center no-repeat !important;
}
.movemenu button.type-Psychic {
    background: #F369B3 url("http://i.imgur.com/QzQIgYi.png?2") center no-repeat !important;
    border-color: #A52A6C !important;
}
.movemenu button.type-Psychic small {
    color: #A52A6C;
}
.movemenu button.type-Psychic:hover {
    background: #FD7DC1 url("http://i.imgur.com/QzQIgYi.png?2") center no-repeat !important;
}
.movemenu button.type-Dark {
    background: #595978 url("http://i.imgur.com/dpxY9u7.png?2") center no-repeat !important;
    border-color: #040707 !important;
}
.movemenu button.type-Dark small {
    color: #040707;
}
.movemenu button.type-Dark:hover {
    background: #737392 url("http://i.imgur.com/dpxY9u7.png?2") center no-repeat !important;
}
.movemenu button.type-Rock {
    background: #8B3E22 url("http://i.imgur.com/uQRUH3r.png?2") center no-repeat !important;
    border-color: #48190B !important;
}
.movemenu button.type-Rock small {
    color: #48190B;
}
.movemenu button.type-Rock:hover {
    background: #A25032 url("http://i.imgur.com/uQRUH3r.png?2") center no-repeat !important;
}
.movemenu button.type-Bug {
    background: #3C9950 url("http://i.imgur.com/oPBAAYf.png?2") center no-repeat !important;
    border-color: #1C4B27 !important;
}
.movemenu button.type-Bug small {
    color: #1C4B27;
}
.movemenu button.type-Bug:hover {
    background: #4FAF65 url("http://i.imgur.com/oPBAAYf.png?2") center no-repeat !important;
}
.movemenu button.type-Ghost {
    background: #906791 url("http://i.imgur.com/jwbeQbI.png?2") center no-repeat !important;
    border-color: #33336B !important;
}
.movemenu button.type-Ghost small {
    color: #33336B;
}
.movemenu button.type-Ghost:hover {
    background: #AE81AE url("http://i.imgur.com/jwbeQbI.png?2") center no-repeat !important;
}
.movemenu button.type-Steel {
    background: #60756E url("http://i.imgur.com/KCc2bLu.png?2") center no-repeat !important;
    border-color: #38A480 !important;
}
.movemenu button.type-Steel small {
    color: #38A480;
}
.movemenu button.type-Steel:hover {
    background: #829790 url("http://i.imgur.com/KCc2bLu.png?2") center no-repeat !important;
}
.movemenu button.type-Dragon {
    background: #62CAD9 url("http://i.imgur.com/ygEvaDc.png?2") center no-repeat !important;
    border-color: #448A95 !important;
}
.movemenu button.type-Dragon small {
    color: #448A95;
}
.movemenu button.type-Dragon:hover {
    background: #7EDCEB url("http://i.imgur.com/ygEvaDc.png?2") center no-repeat !important;
}
.movemenu button.type-Fairy {
    background: #E91368 url("http://i.imgur.com/0qO7BN7.png?2") center no-repeat !important;
    border-color: #961A45 !important;
}
.movemenu button.type-Fairy small {
    color: #961A45;
}
.movemenu button.type-Fairy:hover {
    background: #FF3C8A url("http://i.imgur.com/0qO7BN7.png?2") center no-repeat !important;
}
.leftbar,
.rightbar {
    background: rgba(135, 206, 250, 0.3);
    border-color: #000;
}
.trainer strong {
    color: #000;
}
.battle {
    border-color: #000 !important;
}
.battle-log {
    background: rgba(135, 206, 250, 0.5) url("http://i.imgur.com/MQs7OXi.png") top right no-repeat;
    border-color: #000;
}
.battle-log-add {
    background: transparent;
    border-top-color: #000716;
    border-left-color: #000716;
}
.battle-log-add .textbox,
.battle-log-add .textbox:hover,
.battle-log-add .textbox:focus {
    border-color: #000;
}
.battle-log h2 {
    background: #90EE90;
    color: #000;
}
.movemenu button {
    height: 50px;
    color: #FFF !important;
    font-weight: bold;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000 !important;
    border-width: 2px !important;
    border-style: solid !important;
}
.movemenu button small {
    text-shadow: none !important;
    font-weight: normal;
}