body {
    background: url("http://images2.fanpop.com/image/photos/12000000/Celebi-celebi-12059656-1280-800.jpg") !important;
    background-color: #344B6C !important;
    color: #FFF!important;
}
.dark body {
    background: url("http://images2.fanpop.com/image/photos/12000000/Celebi-celebi-12059656-1280-800.jpg") !important;
    background-color: #344B6C !important;
    color: #FFF!important;
}
.highlighted em {
    background: #FFF;
    color: #000!important;
}
.highlighted,
.message-announce {
    background: #FFF!important;
}
.message-announce {
    background: #006400;
    color: #90EE90;
    padding: 1px 4px 2px;
}
.chat-log {
    background: #98FB98!important;
    background-size: cover;
    font-weight: bold!important;
    color: #006400!important;
    border-width: 0!important;
}
\.chat em {
    color: #90EE90;
    background: #006400;
}
.chat.mine {
    background: transparent;
}
.chat strong {
    text-shadow: none;
    font-weight: bold;
}
.ps-room.ps-room-light {
    background: #006400;
    color: #98FB98;
}
.challenge {
    background: #006400;
    border: 1px solid #2980b9;
    padding: 1px 5px;
    color: #f7e8d8;
}
.pm-log em {
    color: #6e82b7;
}
.userlist li button {
    font: 12px helvetica, arial, sans-serif!important;
    text-shadow: 1px 1px #000!important;
}
.userlist li button:hover {
    background: #98FB98!important;
}
.userlist {
    background: #006400!important;
    border-right: 1px solid #98FB98;
}
.menugroup {
    background: transparent!important;
    border: 2px solid #000!important;
}
.menugroup .button,
.pad button, .select {
    background: -webkit-linear-gradient(#32CD32, #32CD32)!important;
    background: -o-linear-gradient(#98FB98, #98FB98)!important;
    background: -moz-linear-gradient(#32CD32, #32CD32)!important;
    background: linear-gradient(#98FB98, #98FB98)!important;
    border: 2px solid #000!important;
    color:  #000 !important;
   
}
.menugroup .button:hover,
.pad button:hover {
    background: -webkit-linear-gradient(#632CD32, #32CD32)!important;
    background: -o-linear-gradient(#32CD32, #32CD32)!important;
    background: -moz-linear-gradient(#32CD32, #32CD32)!important;
    background: linear-gradient(#32CD32, #32CD32)!important;
    border: 1px solid #222244;
    color: #000 !important;
}
.menugroup .button:active,
.pad button:active {
    background: -webkit-linear-gradient(#FEEFA5, #FEEFA5)!important;
    background: -o-linear-gradient(#FEEFA5, #FEEFA5)!important;
    background: -moz-linear-gradient(#FEEFA5, #FEEFA5)!important;
    background: linear-gradient(#FEEFA5, #FEEFA5)!important;
    border: 1px solid #222244!important;
}
.pad {
    background: #98FB98!important;
}
.roomlist {
    font-family: helvetica, arial, sans-serif;
    color: #32CD32;
}
.roomlist a.ilink {
    border: 3px solid #000;
    color: #98FB98;
    background: #006400!important;
    text-shadow: none!important;
}
.roomlist a.ilink:hover {
    border: 3px solid #000;
    color: #006400!important;
    background: #98FB98!important;
}
.dark .roomlist a.ilink {
    border: 3px solid #000;
    color: #98FB98;
    background: #006400!important;
}
.dark .roomlist a.ilink:hover {
    border: 3px solid #000;
    color: #006400!important;
    background: #98FB98!important;
}
.ladder table {
    background-color: #006400;
    color: #98FB98!important;
}
.mainmenufooter a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 1px 0px #000;
    font-family: helvetica, arial, sans-serif;
}
.mainmenufooter a:hover {
    color: #000;
    text-decoration: none;
}
#header {
    background: #006400;
}
.header .logo {
    opacity: 1;
    background: #006400;
}
.userbar .username {
    font: 15px helvetica, arial, sans-serif;
    font-weight: bold;
}
.userbar .username:hover {
    border-bottom: 1px solid #f492a5;
}
a {
    color: #20B2AA;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}
a:hover {
    color: #008B8B;
    text-decoration: underline;
}
.ps-popup {
    background: #000;
    font: 14px helvetica, arial, sans-serif;
    color: #FFF;
    border-color: #212121;
}
.userdetails .rooms {
    color: #f7e8d8;
}
.popupmenu button {
    box-shadow: none;
    color: #95daf8;
}
.popupmenu button:hover {
    box-shadow: none;
    color: #FFF;
    background: rgba(78, 78, 78, 1);
}
.popupmenu button.sel:hover {
    padding: 0px 3px;
    border: 1px solid #AAA;
    background: rgba(65, 65, 65, 1);
}
.ps-overlay {
    background: rgba(0, 0, 0, 0.3);
}
.pm-window h3 {
    border: 1px solid #212121;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
    font-family: helvetica, arial, sans-serif;
}
.pm-window h3:hover,
.pm-window.focused h3,
.pm-window.focused h3:hover {
    border: 1px solid #212121;
    color: #1D90FF;
    background: rgba(0, 0, 0, 0.8);
    font-family: helvetica, arial, sans-serif;
}
.message-pm {
    color: #000;
    font-style: italic;
    background: #95daf8;
}
.revealed {
    color: #186384;
}
a.ilink {  
    text-decoration: none;
    color:  #20B2AA;
}
a.ilink:hover {
    color: #008B8B;
}
.maintabbarbottom {
    background: #98FB98;
    border: 1px solid #000;
    box-shadow: none;
}
.tabbar a.button.cur,
.tabbar a.button.cur:hover {
    color: #6e82b7;
    background: #98FB98;
    border: 1px solid #000;
    text-shadow: none;
}
.tabbar a.button {
    color: #98FB98;
    background: #006400;
    border: 1px solid #000;
    text-shadow: none;
}
.tabbar a.button:hover {
    color: #006400;
    background: #98FB98;
    border: 1px solid #000;
    text-shadow: none;
}
button {
    border: 1px solid #212121;
    background: none repeat scroll 0% 0% #006400;
    color: #98FB98;
}
button:hover {
    color: #98FB98;
}
.tournament-bracket {
    font-size: 8pt;
    background: url("http://i.imgur.com/Q8vHT0Y.png");
    color: #006400!important;
    opacity: .8;
}
.tournament-title {
    background: #98FB98;
    color: #006400;
}
.tournament-status,
.tournament-toggle {
    color:  #98FB98;
    background: #006400;
}
.tournament-tools {
    padding: 10px;
    border-top: 1px solid #AAA;
    background: url("http://i.imgur.com/Q8vHT0Y.png");
}
.regular-button {
    box-shadow: 0px 1px 0px 0px #FFFFFF inset, 0px 2px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid #A8A8A8;
    background: #EEEEEE;
    color: #000;
}
.regular-button:hover {
    box-shadow: 0px 1px 0px 0px #FFFFFF inset, 0px 2px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid #A8A8A8;
    background: #DBDBDB;
    color: #000;
}
.blue-button {
    border: 1px solid #474747;
    color: #474747;
    background: #6F9BB5;
    box-shadow: 0px 1px 0px 0px #92B0C1 inset, 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.blue-button:hover {
    border: 1px solid #474747;
    color: #474747;
    background: #7CACC7;
    box-shadow: 0px 1px 0px 0px #92B0C1 inset, 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.LV-button {
    border: 1px solid #212121;
    color: #FFF;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 0px 0px #414141 inset, 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.LV-button:hover {
    border: 1px solid #212121;
    color: #1D90FF;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 0px 0px #414141 inset, 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.closebutton,
.minimizebutton {
    color: #000;
}
.minimizebutton:hover {
    color: #000;
    text-decoration: none;
}
.closebutton:hover {
    color: #000;
    text-decoration: none;
}
.setchart-nickname {
    background: #006400;
}
.setmenu button {
    background: #98FB98;
    color:  #006400;
}
.setmenu button:hover {
    background: #006400;
    color: #98FB98;
}
.dark .setmenu button {
    background: #98FB98;
    color:  #006400;
}
.dark .setmenu button:hover {
    background: #006400;
    color: #98FB98;
}
.setchart {
    background: #006400;
}
.utilichart .movenamecol {
    color:  #999!important;
    font: 12px helvetica, arial, sans-serif;
}
.teambuilder-results h3,
.teambuilder-results .utilichart h3 {
    background: #98FB98!important;
    color: #006400!important;
    box-shadow: none!important;
}
.teambuilder-results .result {
    background: #006400!important;
}
.teambuilder-results .result a:hover {
    background: #98FB98!important;
}
.teambar button {
    background: #98FB98!important;
    color: #006400!important;
}
.teambar button:hover {
    background: #006400!important;
    color: #98FB98!important;
}
.teambar button:disabled,
.teambar button:disabled:hover,
.teambar button:disabled:active {
    background: #006400!important;
    color: #98FB98!important;
}
.utilichart .namecol {
    color: #FFF!important;
}
.switchmenu button,
.movemenu button {
    border: 3px solid #222222;
    color: #000;
}
.switchmenu button:hover,
.movemenu button:hover {
    border: 3px solid #222222;
    color: #222222;
}
.switchselect button:hover {
    color: #458;
}
.moveselect button:hover {
    color: #842;
}
.ps-room .battle-log {
    background: #444!important;
    color:  #D3D3D3!important;
}
.battle-log h2 {
    background: #006400!important;
    color: #98FB98!important;
    border: 1px solid #212121;
}
.battle-log .chat em {
    color:  #98FB98!important;
}
.dark .battle-log .chat em {
    color:  #98FB98!important;
}
.battle-log-add {
    background: #006400;
}
.ps-room.ps-room-opaque {
    background: #98FB98!important;
}
.ps-room .battle-controls {
    background: #006400!important;
}
.dark .ps-room .battle-controls {
    background: #444!important;
}
.leftbar {
    background: #006400;
    color: #FFF;
}
.rightbar {
    background: #006400;
    color: #FFF;
}
.effect-volume em,
.music-volume em {
    display: block;
    margin-top: -6px;
    font-size: 9pt;
    padding-left: 5px;
    color: #f7e8d8;
}
.infobox,
.ladder,
.pm-window {
    position: relative;
    border: 2px solid #181818;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, .2);
    margin-top: 5px;
    color: #D3D3D3!important;
    background-color: #006400!important;
}
.ladder th {
    background: none!important;
}
.ladder td {
    background: #98FB98!important;
    color: #006400!important;
}
.select {
    background: #98FB98;
    color: #000;
    border: 2px solid #000!important;
}
.select:hover {
    background: #32CD32;
    color:  #000;
}
.mainmenufooter {
    background: transparent!important;
    border: 2px solid #000!important;
    padding: 2px!important;
}