.header .logo {
display:none !important;
}

#header{
	background: url(http://i.imgur.com/lA1gRmN.png) no-repeat;
	background-color:#4594c9
}

body {
	background: url(images/frost-background1.jpg)!important;
}

.backdrop {
	background-image: url("http://i.imgur.com/kn6PolX.jpg") !important;
}

.ps-room .battle-log-add {
    background-color:#4594c9
}

.trainer strong {
	color:#0070ba;
}

.battle-log h2 {
	background-color:#b2d9f0;
	border-color:#4594c9;
}

.chat small {
	color:#4249F8
}

.userlist li em.group {
	color:#4249F8;
}

.pm-window.focused h3:hover {
	background-color:#58bbf6;
	border-color:#58bbf6;
}

.pm-window.focused h3 {
	background-color:#58bbf6;
	border-color:#58bbf6;
}

.pm-window h3 {
	background-color:#8dcbf0;
	border-color:#8dcbf0;
}

.pm-log-add {
	background-color:#4594c9;
	border-color:#4594c9;
}

.pm-log-add.focused {
	background-color:#8dcbf0;
	border-color:#8dcbf0;
}

.chat-log-add {
	background-color:#4594c9
}

.mainmenuwrapper {
	background-image: none !important;
}

.chat-log {
	background: url("http://i.imgur.com/dIfUHsq.png") right top no-repeat;
	#font-size:10pt;
	#overflow:auto
}

.menugroup .button{
	background:#3A5FCD
}

.menugroup .menugroup{
	text-align:center
}

.button:hover{
	background:#4876FF
}

.userlist {
	border-left:1px solid #D5DDE4;
	background:#b2d9f0;
}


/**************************
* For the colour commands *
**************************/

.motc-blue {
	background: #6464FF;
	border: 3px solid #0B0BA6;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-blue-tr {
	background: #94DBEE
}

.motc-red {
	background: #E24242;
	border: 3px solid #A60B0B;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-red-tr {
	background: #EC8484;
}

.motc-yellow {
	background: #FFD733;
	border: 3px solid #A68C21;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-yellow-tr {
	background: #FFFF99;
}

.motc-green {
	background: #11BB11;
	border: 3px solid #0B7A0B;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-green-tr {
	background: #64D364;
}

.motc-black {
	background: #858585;
	border: 3px solid #2C2C2C;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-black-tr {
	background: #BBBBBB;
}

.motc-brown {
	background: brown;
	border: 3px solid #704214;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-brown-tr {
	background: #CC9966;
}

.motc-purple {
	background: #A040A0;
	border: 3px solid #682A68;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-purple-tr {
	background: #C183C1;
}

.motc-gray {
	background: #B8B8D0;
	border: 3px solid #787887;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-gray-tr {
	background: #D1D1E0;
}

.motc-white {
	background: #E3CED0;
	border: 3px solid #929292;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-white-tr {
	background: #FFF;
}

.motc-pink {
	background: #EE99AC;
	border: 3px solid #9B6470;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-icab-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-top-left-radius: 5px;
}

.motc-pink-tr {
	background: #F4BDC9;
}

.button-green {
	padding:5px;
	background-color:green;
	border:1px solid #25CC4D;
	color:white
}

.button-black {
	padding:5px;
	background-color:black;
	border:1px solid #666;
	color: white;
}

.button-blue {
	padding:5px;
	background-color:#4594c9;
	border:1px solid #8dcbf0;
	color: #d8d8d8;
}

.button-blue:hover {
	background:#6db9ec;
}

.astext{
 	border: none;
  background: none;
  padding:0;
  height: -20em;
  font-family:Verdana,sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.button-halloween {
    padding: 5px;
    background-color: #000;
    border: 1px solid #FFA500;
    color: #FFA500;
}

.nightclub {
	background: #000;
	margin: -3px;
}
