/****************************
*Thanksgiving Theme (deer)  *
****************************/
#header{
background:url("images/hrgreenbrown.jpg");
}

body {
background:url("http://i.imgur.com/L38WoEG.png")!important;
}

.mainmenuwrapper {
        background: url("http://i.imgur.com/rov52z9.png") right bottom no-repeat;
}


.chat-log{
        background: url("http://i.imgur.com/dIfUHsq.png") right top no-repeat;
}

.chat-log-add{
background:#785936
}
.menugroup .button{
background:#785936
}

.menugroup .menugroup{
text-align:center
}

.menugroup .button:hover {
background:#B5823F
}

.userlist{
border-left:1px solid #785936;
background:#b48c51
}

.userlist li button:hover {
background:#B5823F
}

.message-announce {
background:#000000
}
