/************************************************
*Vaniluxe theme                                 *
************************************************/
#header{
background:url("http://www.southernbreezefarm.net/sitebuilder/images/blue_banner-760x147.jpg");
}

body {
background:url("http://i.imgur.com/Ci5DW3i.jpg") !important;
}

.mainmenuwrapper {
        background: url("http://i.imgur.com/hcfggvP.png") center no-repeat;
}


.chat-log {
        /*Vanlite chat picture*/
        background: url("http://i.imgur.com/2OtugRn.png") right top no-repeat;
        /*Cubchoo Background*/
        /*background: url("http://i.imgur.com/FqpmTtq.png") right top no-repeat;*/
}
.chat-log-add{
background:#0066b2
}
.menugroup .button{
background:#0092FF
}

.menugroup .menugroup{
text-align:center
}

.menugroup .button:hover {
background:#23AFFF
}

.userlist{
border-left:1px solid #785936;
background: #7fd3ff
}

.userlist li button:hover {
background:#65a8cc;
}

.userlist li button:active {
	background: #3f697f
}

.message-announce {
background:#000000
}
