body {
	background: url("http://i.imgur.com/E1JdVSe.jpg") !important;
    background-size: cover;
}

.header {
	background: rgba(0, 0, 0, 0.5) url("http://i.imgur.com/xBVCex1.png") no-repeat; 
}
.header .logo {
	opacity: 0;
}
.maintabbarbottom {
	background: #6B2AC9;
	border-color: #000;
}
.tabbar a.button.notifying {
	background: #7421ED;
	border: 1px solid black;
	text-shadow: black;
}
.tabbar a.button.notifying:hover {
	background: #7421ED;
	border-color: black;
}
.tabbar a.button.cur,
.tabbar a.button.cur:hover {
	background: #A483D4;
	border-color: black;
	color: black;
	text-shadow: black;
}
.tabbar a.button {
	border-color: black;
	background: #A483D4;
	color: black;
	text-shadow: none;
}
.tabbar a.button:hover {
	background: #A483D4;
}


.pm-window h3.pm-notifying {
	background: #cc99ff url("http://media.pldh.net/pokexycons/609.png") bottom right no-repeat;
	background-position: 230px;
    border: 1px solid #000;
	text-shadow: black;
	color: black;
    opacity: 0.5;
}
.pm-window h3.pm-notifying:hover {
	background: #b366ff url("http://media.pldh.net/pokexycons/609.png") bottom right no-repeat;
	background-position: 230px;
    border-color: black;
	text-shadow: black;
	color: black;
    opacity: 0.5;
}
.pm-window h3 {
	background: #713BBF url("http://media.pldh.net/pokexycons/607.png") bottom right no-repeat;
	background-position: 220px;
	border-color: black;
	color: black;
	text-shadow: none;
    opacity: 0.5;
}
.pm-window h3:hover {
	background: rgba(103, 130, 152, 0.7) url("http://media.pldh.net/pokexycons/607.png") bottom right no-repeat;
	background-position: 220px;
	border-color: black;
	color: black;
	text-shadow: none;
}
.pm-window.focused h3,
.pm-window.focused h3:hover {
	background: #b366ff url("http://media.pldh.net/pokexycons/609.png") bottom right no-repeat;
	background-position: 220px;
	border-color: black;
	color: black;
	text-shadow: none;
}

.pm-log-add,
.pm-window.focused .pm-log-add {
	border-color: black;
	background: #3e4e5b; 
	color: black;
	text-shadow: none;

}
.menugroup {
        background: rgba(80, 80, 80, .2);
}
.menugroup .button {
	background: #6B2AC9 !important;
	border-color: #6B2AC9 !important;
	color: white !important;
	text-shadow: none;
}
.menugroup .button:hover {
	background: #A483D4 !important;
	border-color: #A483D4 !important;
	color: white !important;
	text-shadow: none;
}
 
.broadcast-blue {
  text-align: center;
  font-family: sans-serif;
  background: #8FA2B3;
  color: black;
  border: 1px solid #8FA2B3;
  padding: 5px;
  }
 
  .broadcast-blue a {
    color: #000000;
  }
 
  .broadcast-red {
    background-color: #FFB3B3;
    border: 1px solid #610B0B;
    color: #610B0B;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #FFD7D7;
  }
 
  .broadcast-red a {
    color: #610B0B;
  }
 
  .broadcast-green {
    background-color: #C3FFB3;
    border: 1px solid #19610B;
    color: #19610B;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #D8FFD7;
  }
 
  .broadcast-green a {
    color: #19610B;

}
.team {
        background:  rgba(143, 162, 179, 0.95);
	border: 1px solid black;
	border-bottom: 2px solid black;
}
.folderlistafter::before, .folderlist::before, .foldersep::before, .folderlistbefore::before {
	display: block;

}
.folderlist .foldersep::before {
	display: block;
	background: rgba(143, 162, 179, 0.0) !important;

}
.folderlist .foldersep {
	display: block;
	background: rgba(143, 162, 179, 0.0) !important;

}      
.folderlistafter, .folderlist, .foldersep, .folderlistbefore {
	display: block;
	background: rgba(143, 162, 179, 0.0) !important;

}
.folderpane {
	border-left: rgba(143, 162, 179, 0.0) !important;

}
.setcol-icon {
        background: transparent none no-repeat scroll center top !important;
}
.setchart {
	background: rgba(143, 162, 179, 0.95); 
}
.utilichart .abilitycol , .utilichart .statcol, .utilichart .bstcol, .utilichart .labelcol, .utilichart .widelabelcol, .utilichart .pplabelcol, .utilichart .bstcol em, .utilichart .abilitycol em , .utilichart .statcol em .utilichart .bstcol em, .utilichart .labelcol em, .utilichart .pplabelcol em , utilichart .widelabelcol em {
        color: black;
}
.utilichart {
        background: rgba(164, 131, 212, .5);
}
.utilichart .itemdesccol, .utilichart .abilitydesccol, .utilichart .movedesccol {
        color: black;
}
.utilichart. .col {
color: black;
}
.teamchart {
        background: rgba(164, 131, 212, .5);
}
.teambuilder-results {
        background:  rgba(164, 131, 212, .5);
}

.folder .selectFolder {
	border-color: black;
	background: #A483D4;
        font-weight: bold;

}
.folderpane h3 {
	border-color: black;
	background: #A483D4;
        font-weight: bold;

}
.ps-room.ps-room-light.scrollable h3 {
	border-color: black;
	background: #A483D4;
        font-weight: bold;

}
.folder.cur .selectFolder {
        background:  rgba(164, 131, 212, .5);
}

.tournament-title {
color: white;
}
.ps-popup  {
	background: rgba(143, 162, 179, 0.95);
	border: 1px solid black;
	border-bottom: 2px solid black;
}
.ps-overlay {
	background: rgba(0, 0, 0, 0.4);
}
.ps-room.ps-room-opaque, .battle-log .chat em, .battle-log, .ps-room .battle-controls, .battle-log-add {
	background: rgba(0, 0, 0, 0.8) url("") top right no-repeat;
        color: white;
}
.leftbar, .rightbar {
        background: rgba(0, 0, 0, .2);
        
}
.battle-log h2 {
	background: #6B2AC9;
	border-color: #000;
}
.switchmenu button {
        background: #DBB3E3;
}
        
.trainer strong {
        color: black;
}
        
.roomlist h2 {
	color: black;
	text-shadow: none;
}
.roomlist a.ilink {
	background: rgba(143, 162, 179, 0.8);
	color: black;
	text-shadow: none;
	border-color: black;
}
.roomlist a.ilink:hover {
	background: rgba(118, 142, 162, 0.8);
	color: black;
	text-shadow: none;
	border-color: black;
}
.userlist {
        background:rgba(0, 0, 0, 0.25)
        color: white;
}
.userlist li {
        background:rgba(0, 0, 0, 0.25)
}
.userlist li em.group {
	color: white;
	text-shadow: none;
}
.userlist li button:hover,
.userlist-minimized .userlist-count:hover {
	background: rgba(200, 200, 200, 0.2);
	text-shadow: 1px 1px #000000;
}

.chat-log {
	background: rgba(0, 0, 0, 0.8) url("") top right no-repeat;
        color: white;
}
.chat-log .chat small {
	color: #81807F;
}
.chat-log .chat.mine.chat small {;
	color: #81807F;
}
.chat.highlighted {
	background: rgba(204, 102, 255, 0.5);
}
.ps-room.ps-room-light {
	background: rgba(80, 80, 80, 0.1);
	border-color: black;
}
.ps-room.ps-room-light.scrollable {
	background: rgba(143, 162, 179, 0.25);
	color: black;
	text-shadow: none;
}
.ps-room.ps-room-light.scrollable h3 {
	background: none;
	text-shadow: none;
}
.ps-room.ps-room-light.scrollable p {
	background: none;
	text-shadow: none;
}
 
.roomcounters .picon {
    background: url("http://media.pldh.net/pokexycons/093.png") bottom no-repeat !important;
}

.userlist li button:{
    background:rgba(0, 0, 0, 0.25)
    text-shadow: 1px 1px #000000;
}*/
     
/*.userlist {
        background:rgba(50, 24, 70, 0.05)
        color: white;
}
.userlist li {
        background:rgba(50, 24, 70, 0.05)
}
.userlist li em.group {
    color: white;
    text-shadow: none;
}
.userlist li button:hover,
.userlist-minimized .userlist-count:hover {
    background: rgba(159, 75, 228, 0.2);
    text-shadow: 1px 1px #000000;
}*/